.column-hm1{
  flex: 50%;
  max-width: 55%;
  margin-top: 10%;
  margin-right: 57%;
  padding-right:2px;
  margin-left: 65px;
}
.column-hm1 .btn{
background-color: blue;
	border-radius: 22px;
	color: white;
	padding: 1px auto;
	width: 80%;
}
.column-hm1 .btn1{
    background-color: transparent;
	color: blue;
	padding: 1px auto;
	margin-top: 25px;
	margin-bottom: 12px;
	width: 90%;
	top: 12px;
	border-style: none;
}

.column-hm1 h2{
	font-size: 45px;
	font-family: inherit;
	font-weight: 12px;
	width: 488px;
	margin-left: 88px;
}
.column-hm1 p{
	font-size: 55px;
	font-family: serif;
	color: grey;
	font-weight: 332px;
	letter-spacing: 0.01px;
	width: 488px;
	margin-left: 88px;
}
.column-hm1 .btn{
background-color: blue;
	border-radius: 22px;
	color: white;
	padding: 1px auto;
	margin-top: 7px;
	width: 100px;
	margin-left: 121px;
}
.column-hm1 .btn1{
    background-color: transparent;
	color: blue;
	padding: 1px auto;
	width: 212px;
	border-style: none;
	margin-left: 70px;
}

.column-hm2 {
  flex: 100%;
  
  padding-left:14%;
  margin-top: 0px;
  margin-left: 123px;
}

.navbar ul{
   display: flex;
   margin-left: 12px;
}
.hm1 h2{
	font-size: 41px;
	font-family: inherit;
	font-weight: 8px;
	margin-right: 
}
.hm1 p{
	font-size: 8px;
	font-family: serif;
	color: black;
	opacity: 0.75;
	font-weight: 211px;
	letter-spacing: 0.01px;
}
.column-hm1 p{
	font-size: 22px;
}
.column-hm2{
  height: 95%;
  width: 302px;
  margin-left: 71px;
  margin-top: 22px;
 margin-right: auto;
  
}

.partner-s h4{
	margin-top: 33px;
	margin-left: 200px;
	font-size: 13.5px;
	word-spacing: 1px;
	width: 320px;
}
.partner-i {
	width: 221px;
	margin-left: 250px;
}
.partner-i img{
	width: 26%;
	height: 9%;
}
.feature1{
	margin-left: 175px;
}
.column-blog1 h1{
	font-size: 22px;
}
.column-blog1 h3{
	font-size: 9px;
	line-height: 10px;
}
.im-h{
	display: flex;
	margin-top: 20px;
	width: 333px;
}
.column-feature1 img{
	height: 570px;
	width: 262px;
}
.im-h img{
  width: 50px;
  height: 60px;
  margin-right: 12px;
  margin-top: 23px;
}
.im-h h2{
	font-size: 10px;
  font-weight: bold;
}
.mid-s{
	margin-left: 156px;
}
.mid-hm1{
	margin-right: 17px;
	margin-left: 39px;
	
}
.mid-hm1 h2{
	font-size: 25px;
	width: 332px;
}
.mid-hm2 p{
	font-size: 13px;
	margin-left: 32px;
	margin-top: 10px;
	width: 332px;
}
.card{
	margin-left: 123px;
}
.column-1 img{
 height: 244px;
 margin-right: 13px;
}

.column-1 h1{
	margin-top: 12%;
	font-size: 27px;
	width: 332px;
}
.apps-s h1{
	font-size: 25px;
	margin-top: 32px;
}
.apps-s{
	width: 323px;
	margin-left: 135px;
}
.apps-s p{
	font-size: 9px;
}
.card-in{
	width: 145px;
}
.co-2 img{
	margin-top: 100px;
	height: 725px;
	width: 401px;
	margin-left: 45px;
}
.co-21 img{
	height: 371px;
	width: 300px;
}

.co-22 h1{
	font-weight: bold;
	font-size: 25px;
	width: 321px;
}
.p{
	font-weight: 900px;
	font-size: 10px;
	width: 321px;
}
.co-22 h2{
	margin-top: 32px;
	width: 321px;
	font-size: 12px;
	font-weight: bold;
}
.f8{
	width: 342px;
	    margin-left: 72px;

}
#da{
    width: 382px;
    margin-left: 72px;
}
 .card-deck .cardm{
  width: 322px;
    display: flex;
    padding: 2px 12px;
    
    margin-left: 40px;
}
.ss{
	margin-left: 260px;
	width: 321px;
}
.co-ab p{
	font-size: 11px;
	margin-left: 76px;
	width: 270px;
}
.co-ab h1{
	font-size: 36px;
	margin-top: 44px;
	margin-left: 76px;
	width: 270px;
}
.co-ab img{
	width: 401px;
	height: 100%;
  margin-left: 64px;
}
.partition{
	margin-left: 123px;
}
.apps{
	margin-left: 100px;
}
.ufl{
	margin-left: 55px;
}
.co-a1 img{
	width: 401px;
	margin-left: 24px;
}
.container-fluid{
	margin-left: 88px;
}
.bb1{
	margin-left: 321px;
}
.bb2{
	margin-left: 344px;
}
.l-c{
	width: 711px;
}